<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ app.name }}{% if title.size > 0 %}
        - {{ title }}{% endif %}
    </title>
    <meta name="description" content="{{ app.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <!-- <meta property="og:url" content=""> -->
    {% if app.logo %}
      <meta property="og:image" content="app.logo.url">

      <link rel="apple-touch-icon" href="{{app.logo.url}}">
      <link rel="shortcut icon" href="{{app.logo.url}}">
    {% endif %}

    <link rel="stylesheet" href="/styles.css">

    <meta name="theme-color" content="#fafafa">
  </head>

  <body class="{% if is_legal_page %}legal{% endif %}">
    {{ page_content }}

    <footer class="container">
      <p>&copy; {{ app.copyright_year }} {{ app.author }}</p>
      <p class="footer-legal">
        <a href="privacy.html">Privacy</a>
        |
        <a href="tos.html">Terms of Service</a>
        |
        <a href="eula.html">EULA</a>
      </p>
    </footer>
  </body>

</html>
