<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="{{ site.name }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ site.description }}">
    <!-- <meta property="og:url" content=""> -->
    <!-- <meta property="og:image" content=""> -->

    {% comment %} <link rel="manifest" href="/site.webmanifest"> {% endcomment %}
    <link rel="apple-touch-icon" href="/icon.png">
      <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/styles.css">

    <meta name="theme-color" content="#fafafa">
  </head>

  <body>
    <div class="container">
      <h1 class="masthead">{{ site.name }}</h1>

      <!-- Navigation -->
      <nav class="navigation">
        <ul>
          <li><a class="{% if active_page == "photos" %}active{% endif %}" href="/index.html">Photos</a></li>
          <li><a class="{% if active_page == "about" %}active{% endif %}" href="/about.html">About</a></li>
          <li><a class="{% if active_page == "contact" %}active{% endif %}" href="/contact.html">Contact</a></li>
        </ul>
      </nav>

      {{ page_content }}
    </div>
    <script src="/script.js" type="application/javascript"></script>
  </body>

</html>
