{% assign title = objects.site.name | append: " | About" %}
{% layout 'theme' title: title
  , active_page: "about" %}
{% assign about = objects.about %}
{% assign story_blocks = about_stories | sort: "order" %}
{% assign expertise_items = about_expertises | sort: "order" %}

<!-- About Section -->
<div class="about-section">
  <!-- Story Section -->
  <div class="about-story">
    <div class="story-content animate-on-scroll">
      <h3 class="content-title">{{ about.story_title }}</h3>
      {% for block in story_blocks %}
        {% unless block.after_quote %}
          {{ block.body }}
        {% endunless %}
      {% endfor %}

      {% if about.quote_text %}
        <blockquote class="quote">
          {{ about.quote_text }}
          {% if about.quote_citation %}
            <cite>{{ about.quote_citation }}</cite>
          {% endif %}
        </blockquote>
      {% endif %}

      {% for block in story_blocks %}
        {% if block.after_quote %}
          {{ block.body }}
        {% endif %}
      {% endfor %}
    </div>

    <div class="story-image animate-on-scroll">
      <div class="image-stack">
        <div class="stack-item stack-item-1" style="background-image: url('{{ about.image_1.url }}');"></div>
        <div class="stack-item stack-item-2" style="background-image: url('{{ about.image_2.url }}');"></div>
        <div class="stack-item stack-item-3" style="background-image: url('{{ about.image_3.url }}');"></div>
      </div>
    </div>
  </div>

  <!-- Photography Interests -->
  {% if expertise_items and expertise_items.size > 0 %}
    <div class="expertise-section animate-on-scroll">
      <h3 class="content-title">My Interests</h3>
      <div class="expertise-grid">
        {% for card in expertise_items %}
          <div class="expertise-card">
            <div class="expertise-icon">{{ card.icon }}</div>
            <h4>{{ card.title }}</h4>
            <p>{{ card.description }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
